<nav class = 'top-nav'>
  <a class = 'top-nav__element cart-page__prev-button' routerLink="/">Назад</a>
</nav>

<h1 class = 'cart-page__header'>Корзина</h1>
<hr>
<form class="cart-page__form" action="javascript:void(0);">
  <input class="cart-page__input" placeholder="Введите название ингредиента" type="text" [formControl] = "customIngredientFormControl">
  <button class="count-button count-button_increment cart-page__add-button" (click) = "onCustomIngredientAdd()">+</button>
</form>

<ul class = 'cart-page__container' *ngFor="let el of cart">
  <li class = 'cart-page__element'>
    <p>{{el.ingredient.name}}</p>
    <p>{{el.ingredient.logo}}</p>
    <p>{{el.count}}</p>
    <div class = 'button__block'>
      <button class = 'count-button count-button_decrement' (click)="onDelete(el.ingredient)">-</button>
      <button class = 'count-button count-button_increment' (click)="onAdd(el.ingredient)">+</button>
    </div>
  </li>
</ul>

<app-not-found-stub *ngIf="!cart.length" [text]="'Корзина пуста 😢'"></app-not-found-stub>
